<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {% include 'navbar.html.twig' %}
        <div class="bodyContent">
            <div class="underBodyContent">
            {% block body %}{% endblock %}
            </div>
        </div>
        {% block js %}{% endblock %}
        <script src="/js/jquery-2.2.4.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
