<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" src="css/style.css">
    </head>
    <body>
        {% include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block js %}{% endblock %}
    </body>
</html>
