{% extends 'base.html.twig' %}

{% block title %}Caillou Clicker ! Game Over{% endblock %}

{% block body %}
    <h2>Game Over !</h2>
    <a href="/compte">Retourner au choix des personnages !</a>
{% endblock %}


