<header>
    <nav class="navbar">
    <div class="titre" class="navbar-header">
        <a href="/" class="navbar-brand">Caillou clicker</a>
    </div>
    {% if app.session.get("user") %}
    <div class="menu nav navbar-nav">
        <ul class="nav">
            <li>Bonjour <span class="text-success">{{ app.session.get("user") }}</span>
                ! 
                Vous n'êtes pas <span class="text-success">{{ app.session.get("user") }}</span> ? </li>
            <li><a href="logoutLogin">Se connecter à un autre compte</a> </li>
            <li><a href="logoutCreate">Créer un compte</a> </li>
        </ul>
    </div>
    {% endif %}
    </nav>
</header>
